<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/koa-behaviors/koa-spinner-behavior.html">
<link rel="import" href="../<%= themeName %>-styles/default-theme.html">

<dom-module id="<%= tagName %>">
  <template>
    <!-- write your styles here -->
    <style>
      :host {
        display: inline-block;
        height: 28px;
        position: relative;
        width: 28px;
      }

      #spinnerContainer {
        /* The spinner does not have any contents that would have to be
         * flipped if the direction changes. Always use ltr so that the
         * style works out correctly in both cases. */
        direction: ltr;

        height: 100%;
        width: 100%;
      }

      #spinnerContainer.active {
        /* duration: 360 * ARCTIME / (ARCSTARTROT + (360-ARCSIZE)) */
          -webkit-animation: container-rotate 1568ms linear infinite;
        animation: container-rotate 1568ms linear infinite;
      }

      @-webkit-keyframes container-rotate {
        to { -webkit-transform: rotate(360deg) }
      }

      @keyframes container-rotate {
        to { transform: rotate(360deg) }
      }

      .spinner-layer {
        border-color: var(--spinner-color, --google-blue-500);
        height: 100%;
        opacity: 0;
        position: absolute;
        white-space: nowrap;
        width: 100%;
      }
    </style>
    <!-- end styles -->

    <!-- write your template here -->
    <div id="spinnerContainer" class-name="[[__spinnerContainerClassName]]">
      <div class="spinner-layer">

      </div>
    </div>
    <!-- end template -->
  </template>

  <script>
    Polymer({
      is: '<%= tagName %>',

      behaviors: [
        Polymer.KoaSpinnerBehavior
      ]
    });
  </script>
</dom-module>
