<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<!--
### Styling

`--card-header-color` | The color of the header text | `#000`
`--card-header` | Mixin applied to the card header section | `{}`
`--card-header-text` | Mixin applied to the title in the card header section | `{}`
`--card-header-image` | Mixin applied to the image in the card header section | `{}`
`--card-header-image-text` | Mixin applied to the text overlapping the image in the card header section | `{}`
`--card-content` | Mixin applied to the card content section| `{}`
`--card-actions` | Mixin applied to the card action section | `{}`
`--card` | Mixin applied to the card | `{}`
-->

<dom-module id="<%= tagName %>">
  <template>
    <style>
      /* Write your styles here */
    </style>

    <!-- Write your template here -->
  </template>

  <script>
    Polymer({
      is: '<%= tagName %>',

      properties: {
        /**
         * The title of the card.
         */
        heading: {
          type: String,
          value: ''
        },

        /**
         * The url of the title image of the card.
         */
        image: {
          type: String,
          value: ''
        },

        /**
         * When `true`, any change to the image url property will cause the
         * `placeholder` image to be shown until the image is fully rendered.
         */
        preloadImage: {
          type: Boolean,
          value: false
        },

        /**
         * When `preloadImage` is true, setting `fadeImage` to true will cause
         * the image to fade into place.
         */
        fadeImage: {
          type: Boolean,
          value: false
        }
      }
    });
  </script>
</dom-module>
