<link rel="import" href="../../bower_components/polymer/polymer.html">

<!--
### Styling

Custom property | Description | Default
----------------|-------------|--------
`--toolbar-background` | Toolbar background color | `--default-primary-color`
`--toolbar-color` | Toolbar foreground color | `--text-primary-color`
`--toolbar-height` | Custom height for toolbar | `64px`
`--toolbar-sm-height` | Custom height for small screen toolbar | `56px`
`--toolbar` | Mixin applied to the toolbar | `{}`
-->

<dom-module id="<%= tagName %>">
  <template>
    <style>
      /* Write your styles here */
    </style>

    <!-- Write your template here -->
  </template>

  <script>
    Polymer({
      is: '<%= tagName %>',

      hostAttributes: {
        'role': 'toolbar'
      }
    });
  </script>
</dom-module>
