<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

    <title><%= tagName %> demo</title>

    <script src="../../../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../../../../bower_components/neon-animation/neon-animations.html">
    <link rel="import" href="../../../../../bower_components/paper-styles/color.html">
    <link rel="import" href="../../../../../bower_components/paper-styles/demo-pages.html">
    <link rel="import" href="../../<%= pluginName %>-button/<%= pluginName %>-button.html">
    <link rel="import" href="../../<%= pluginName %>-dropdown-menu/<%= pluginName %>-dropdown-menu.html">
    <link rel="import" href="../../<%= pluginName %>-item/<%= pluginName %>-item.html">
    <link rel="import" href="../../<%= pluginName %>-menu/<%= pluginName %>-menu.html">
    <link rel="import" href="../<%= tagName %>.html">

    <style is="custom-style">
      section {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
      }

      section > <%= pluginName %>-button {
        background-color: var(--google-grey-300);
        padding: 5px;
      }

      section > <%= pluginName %>-button:hover {
        background-color: var(--paper-light-blue-200);
        padding: 5px;
      }

      <%= tagName %>.colored {
        border: 2px solid;
        border-color: var(--paper-green-500);
        background-color: var(--paper-light-green-50);
        color: var(--paper-green-500);
      }

      <%= tagName %>.size-position {
        position: fixed;
        top: 16px;
        right: 16px;
        width: 300px;
        height: 300px;
        overflow: auto;
      }
    </style>
  </head>
  <body>
    <section onclick="clickHandler(event)">
      <h4>Dialog layouts</h4>

      <<%= pluginName %>-button data-dialog="dialog">plain dialog</<%= pluginName %>-button>
      <<%= pluginName %>-button data-dialog="actions">dialog with actions</<%= pluginName %>-button>
      <<%= pluginName %>-button data-dialog="modal">modal dialog</<%= pluginName %>-button>
      <<%= pluginName %>-button data-dialog="dropdown">dialog with dropdown</<%= pluginName %>-button>
      <<%= pluginName %>-button data-dialog="nested">dialog with nested dialog</<%= pluginName %>-button>

      <<%= tagName %> id="dialog">
        <h2>Dialog Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </<%= tagName %>>

      <<%= tagName %> id="actions">
        <h2>Dialog Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="buttons">
          <<%= pluginName %>-button >More Info...</<%= pluginName %>-button>
          <<%= pluginName %>-button dialog-dismiss>Decline</<%= pluginName %>-button>
          <<%= pluginName %>-button dialog-confirm autofocus>Accept</<%= pluginName %>-button>
        </div>
      </<%= tagName %>>

      <<%= tagName %> id="modal" modal>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="buttons">
          <<%= pluginName %>-button dialog-confirm autofocus>Tap me to close</<%= pluginName %>-button>
        </div>
      </<%= tagName %>>

      <<%= tagName %> id="dropdown">
        <h2>Dialog Title</h2>
        <<%= pluginName %>-dropdown-menu label="Value">
          <<%= pluginName %>-menu class="dropdown-content">
            <<%= pluginName %>-item>1</<%= pluginName %>-item>
            <<%= pluginName %>-item>2</<%= pluginName %>-item>
            <<%= pluginName %>-item>3</<%= pluginName %>-item>
            <<%= pluginName %>-item>4</<%= pluginName %>-item>
            <<%= pluginName %>-item>5</<%= pluginName %>-item>
            <<%= pluginName %>-item>6</<%= pluginName %>-item>
            <<%= pluginName %>-item>7</<%= pluginName %>-item>
            <<%= pluginName %>-item>8</<%= pluginName %>-item>
            <<%= pluginName %>-item>9</<%= pluginName %>-item>
            <<%= pluginName %>-item>10</<%= pluginName %>-item>
          </<%= pluginName %>-menu>
        </<%= pluginName %>-dropdown-menu>
      </<%= tagName %>>

      <<%= tagName %> id="nested">
        <h2>Dialog Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="buttons">
          <<%= pluginName %>-button data-dialog="innerDialog">Open nested dialog</<%= pluginName %>-button>
        </div>
      </<%= tagName %>>

      <<%= tagName %> id="innerDialog">
        <h2>Dialog Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </<%= tagName %>>
    </section>

    <section onclick="clickHandler(event)">
      <h4>Custom styling</h4>
      <<%= pluginName %>-button data-dialog="colors">colors</<%= pluginName %>-button>
      <<%= pluginName %>-button data-dialog="position">size &amp; position</<%= pluginName %>-button>

      <<%= tagName %> id="colors" class="colored">
        <h2>Custom Colors</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </<%= tagName %>>

      <<%= tagName %> id="position" class="size-position">
        <h2>Custom Size &amp; Position</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </<%= tagName %>>
    </section>

    <section onclick="clickHandler(event)">
      <h4>Transitions</h4>
      <<%= pluginName %>-button data-dialog="animated">transitions</<%= pluginName %>-button>
      <<%= tagName %> id="animated" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
        <h2>Dialog Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </<%= tagName %>>
    </section>

    <script>
      // eslint-disable-next-line no-unused-vars
      function clickHandler(e) {
        var button = e.target;
        while (!button.hasAttribute('data-dialog') && button !== document.body) {
          button = button.parentElement;
        }

        if (!button.hasAttribute('data-dialog')) {
          return;
        }

        var id = button.getAttribute('data-dialog');
        var dialog = document.getElementById(id);
        if (dialog) {
          dialog.open();
        }
      }
    </script>
  </body>
</html>
