<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-menu-behavior/iron-menu-behavior.html">
<link rel="import" href="<%= themeName %>-tab.html">

<!--
### Styling

Custom property | Description | Default
----------------|-------------|--------
`--tabs-selection-bar-color` | Color for the selection bar | `--accent-color`
`--tabs` | Mixin applied to the tabs | `{}`
-->

<dom-module id="<%= tagName %>">
  <template>
    <style>
      /* Write your styles here */
    </style>

    <!-- Write your template here -->
  </template>

  <script>
    Polymer({
      is: '<%= tagName %>',

      hostAttributes: {
        role: 'tablist'
      },

      behaviors: [
        Polymer.IronMenuBehavior
      ]
    });
  </script>
</dom-module>
