<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">

<!--
### Styling

Custom property | Description | Default
----------------|-------------|--------
`--dialog-background-color` | Dialog background color | `--primary-background-color`
`--dialog-color` | Dialog foreground color | `--primary-text-color`
`--dialog` | Mixin applied to the dialog | `{}`
`--dialog-title` | Mixin applied to the title (`<h2>`) element | `{}`
`--dialog-button-color` | Button area foreground color | `--default-primary-color`
-->

<dom-module id="<%= tagName %>">
  <template>
    <style>
      /* Write your styles here */
    </style>

    <!-- Write your template here -->
  </template>

  <script>
    Polymer({
      is: '<%= tagName %>',

      hostAttributes: {
        'role': 'dialog',
        tabindex: -1
      },

      behaviors: [
        Polymer.IronOverlayBehavior
      ]
    });
  </script>
</dom-module>
