<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/koa-behaviors/koa-menu-button-behavior.html">

<dom-module id="<%= tagName %>">
  <template>
    <!-- write your styles here -->
    <style>

    </style>
    <!-- end styles -->

    <!-- write your template here -->

    <!-- end template -->
  </template>

  <script>
    Polymer({
      is: '<%= tagName %>',

      behaviors: [
        Polymer.KoaMenuButtonBehavior
      ],

      /**
       * Hide the dropdown content.
       */
      close: function() {

      },

      /**
       * Make the dropdown content appear as an overlay positioned relative to
       * the dropdown trigger.
       */
      open: function() {

      }
    });
  </script>
</dom-module>
