<!doctype html>
<html>
  <head>
    <title><%= tagName %> demo</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

    <script src="../../../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../../../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
    <link rel="import" href="../../<%= pluginName %>-toolbar/<%= pluginName %>-toolbar.html">
    <link rel="import" href="../<%= pluginName %>-tab.html">
    <link rel="import" href="../<%= tagName %>.html">

    <style is="custom-style" include="demo-pages-shared-styles">
      #container {
        max-width: 600px;
      }

      .vertical-section {
        margin: 0 0 40px;
      }
    </style>
  </head>
  <body unresolved>
    <div id="container" class="vertical-section-container centered">
      <h3>Plain <code><%= tagName %></code>.</h3>
      <div class="vertical-section">
        <<%= tagName %> selected="0">
          <<%= pluginName %>-tab>ITEM ONE</<%= pluginName %>-tab>
          <<%= pluginName %>-tab>ITEM TWO</<%= pluginName %>-tab>
          <<%= pluginName %>-tab>ITEM THREE</<%= pluginName %>-tab>
        </<%= tagName %>>
      </div>

      <h3>
        The <code>scrollable</code> attribute causes the tabs to scroll, rather
        than compress, when there is not enough space. Arrow buttons appear when
        any of the tabs are not completely visible.
      </h3>
      <div class="vertical-section">
        <<%= tagName %> selected="0" scrollable>
          <<%= pluginName %>-tab>NUMBER ONE ITEM</<%= pluginName %>-tab>
          <<%= pluginName %>-tab>ITEM TWO</<%= pluginName %>-tab>
          <<%= pluginName %>-tab>THE THIRD ITEM</<%= pluginName %>-tab>
          <<%= pluginName %>-tab>THE ITEM FOUR</<%= pluginName %>-tab>
          <<%= pluginName %>-tab>FIFTH</<%= pluginName %>-tab>
          <<%= pluginName %>-tab>THE SIXTH TAB</<%= pluginName %>-tab>
          <<%= pluginName %>-tab>NUMBER SEVEN</<%= pluginName %>-tab>
          <<%= pluginName %>-tab>EIGHT</<%= pluginName %>-tab>
          <<%= pluginName %>-tab>NUMBER NINE</<%= pluginName %>-tab>
          <<%= pluginName %>-tab>THE TENTH</<%= pluginName %>-tab>
          <<%= pluginName %>-tab>THE ITEM ELEVEN</<%= pluginName %>-tab>
          <<%= pluginName %>-tab>TWELFTH ITEM</<%= pluginName %>-tab>
        </<%= tagName %>>
      </div>

      <h3>
        Tab layout is effected by the writing direction of the surrounding area.
      </h3>
      <div class="vertical-section">
        <div dir="rtl">
          <<%= tagName %> selected="0">
            <<%= pluginName %>-tab>ITEM ONE</<%= pluginName %>-tab>
            <<%= pluginName %>-tab>ITEM TWO</<%= pluginName %>-tab>
            <<%= pluginName %>-tab>ITEM THREE</<%= pluginName %>-tab>
          </<%= tagName %>>
          &nbsp;
          <<%= tagName %> selected="0" scrollable>
            <<%= pluginName %>-tab>NUMBER ONE ITEM</<%= pluginName %>-tab>
            <<%= pluginName %>-tab>ITEM TWO</<%= pluginName %>-tab>
            <<%= pluginName %>-tab>THE THIRD ITEM</<%= pluginName %>-tab>
            <<%= pluginName %>-tab>THE ITEM FOUR</<%= pluginName %>-tab>
            <<%= pluginName %>-tab>FIFTH</<%= pluginName %>-tab>
            <<%= pluginName %>-tab>THE SIXTH TAB</<%= pluginName %>-tab>
            <<%= pluginName %>-tab>NUMBER SEVEN</<%= pluginName %>-tab>
            <<%= pluginName %>-tab>EIGHT</<%= pluginName %>-tab>
            <<%= pluginName %>-tab>NUMBER NINE</<%= pluginName %>-tab>
            <<%= pluginName %>-tab>THE TENTH</<%= pluginName %>-tab>
            <<%= pluginName %>-tab>THE ITEM ELEVEN</<%= pluginName %>-tab>
            <<%= pluginName %>-tab>TWELFTH ITEM</<%= pluginName %>-tab>
          </<%= tagName %>>
        </div>
      </div>

      <h3>
        Tabs can be used in a <code><%= pluginName %>-toolbar</code>.
      </h3>
      <div class="vertical-section">
        <style is="custom-style">
          .self-end {
            /* This mixin (from iron-flex-layout) aligns the tabs to the
               bottom of the toolbar. */
            @apply(--layout-self-end);
          }
        </style>

        <<%= pluginName %>-toolbar class="tall">
          <<%= tagName %> selected="0" class="bottom self-end" style="width: 300px;">
            <<%= pluginName %>-tab>ITEM ONE</<%= pluginName %>-tab>
            <<%= pluginName %>-tab>ITEM TWO</<%= pluginName %>-tab>
          </<%= tagName %>>
        </<%= pluginName %>-toolbar>
      </div>
    </div>
  </body>
</html>
