<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/koa-behaviors/koa-item-behavior.html">
<link rel="import" href="../<%= themeName %>-styles/default-theme.html">

<dom-module id="<%= tagName %>">
  <template>
    <!-- write your styles here -->
    <style>

    </style>
    <!-- end styles -->

    <!-- write your template here -->

    <!-- end template -->
  </template>

  <script>
    Polymer({
      is: '<%= tagName %>',

      behaviors: [
        Polymer.KoaItemBehavior
      ]
    });
  </script>
</dom-module>
