<link rel="import" href="../../bower_components/polymer/polymer.html">

<!--
### Styling

Custom property | Description | Default
----------------|-------------|--------
`--badge-background` | The background color of the badge | `--accent-color`
`--badge-opacity` | The opacity of the badge | `1.0`
`--badge-text-color` | The color of the badge text | `white`
`--badge-width` | The width of the badge circle | `22px`
`--badge-height` | The height of the badge circle | `22px`
`--badge-margin-left` | Optional spacing added to the left of the badge. | `0px`
`--badge-margin-bottom` | Optional spacing added to the bottom of the badge. | `0px`
`--badge` | Mixin applied to the badge | `{}`
-->

<dom-module id="<%= tagName %>">
  <template>
    <style>
      /* Write your styles here */
    </style>

    <!-- Write your template here -->
  </template>

  <script>
    Polymer({
      is: '<%= tagName %>',

      hostAttributes: {
        role: 'status',
        tabindex: 0
      },

      properties: {
        /**
         * The id of the element that the badge is anchored to. This element
         * must be a sibling of the badge.
         */
        for: {
          type: String
        },

        /**
         * The label displayed in the badge. The label is centered, and ideally
         * should have very few characters.
         */
        label: {
          type: String
        }
      }
    });
  </script>
</dom-module>
