<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/koa-behaviors/koa-checkbox-behavior.html">
<link rel="import" href="../<%= themeName %>-styles/default-theme.html">

<dom-module id="<%= tagName %>">
  <template>
    <!-- write your styles here -->
    <style>
      :host {
        cursor: pointer;
        display: inline-block;
        white-space: nowrap;
      }

      :host(:focus) {
        outline: none;
      }

      .hidden {
        display: none;
      }

      #checkbox {
        background-color: var(--checkbox-unchecked-background-color, transparent);
        border-color: var(--checkbox-unchecked-color, --primary-text-color);
        display: inline-block;
        pointer-events: none;
        position: relative;
      }

      #checkbox.checked {
        background-color: var(--checkbox-checked-color, --default-primary-color);
        border-color: var(--checkbox-checked-color, --default-primary-color);
      }

      #checkmark {
        border-color: var(--checkbox-checkmark-color, white);
        position: absolute;
      }

      /* label */
      #checkboxLabel {
        color: var(--checkbox-label-color, --primary-text-color);
        display: inline-block;
        padding-left: var(--checkbox-label-spacing, 8px);
        pointer-events: none;
        position: relative;
      }

      :host-context([dir="rtl"]) #checkboxLabel {
        padding-right: var(--checkbox-label-spacing, 8px);
        padding-left: 0;
      }

      #checkboxLabel[hidden] {
        display: none;
      }

      :host([disabled]) {
        pointer-events: none;
      }

      :host([disabled]) #checkbox {
        border-color: var(--checkbox-unchecked-color, --primary-text-color);
      }

      :host([disabled][checked]) #checkbox {
        background-color: var(--checkbox-unchecked-color, --primary-text-color);
      }

      :host([disabled]) #checkboxLabel  {

      }

      #checkbox.invalid:not(.checked) {
        border-color: var(--checkbox-error-color, #db4437);
      }
    </style>
    <!-- end styles -->

    <!-- write your template here -->
    <div id="checkbox" class$="[[_computeCheckboxClass(checked, invalid)]]">
      <div id="checkmark" class$="[[_computeCheckmarkClass(checked)]]"></div>
    </div>

    <div id="checkboxLabel"><content></content></div>
    <!-- end template -->
  </template>

  <script>
    Polymer({
      is: '<%= tagName %>',

      behaviors: [
        Polymer.KoaCheckboxBehavior
      ]
    });
  </script>
</dom-module>
