<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-behaviors/iron-button-state.html">
<link rel="import" href="../../bower_components/iron-behaviors/iron-control-state.html">
<link rel="import" href="../../bower_components/iron-checked-element-behavior/iron-checked-element-behavior.html">

<!--
### Styling

Custom property | Description | Default
----------------|-------------|--------
`--checkbox-unchecked-background-color` | Checkbox background color when the input is not checked | `transparent`
`--checkbox-unchecked-color` | Checkbox border color when the input is not checked | `--primary-text-color`
`--checkbox-checked-color` | Checkbox color when the input is checked | `--default-primary-color`
`--checkbox-checkmark-color` | Checkmark color | `white`
`--checkbox-label-color` | Label color | `--primary-text-color`
`--checkbox-label-spacing` | Spacing between the label and the checkbox | `8px`
`--checkbox-error-color` | Checkbox color when invalid | `--google-red-500`
-->

<dom-module id="<%= tagName %>">
  <template>
    <style>
      /* Write your styles here */
    </style>

    <!-- Write your template here -->
  </template>

  <script>
    Polymer({
      is: '<%= tagName %>',

      hostAttributes: {
        role: 'checkbox'
      },

      behaviors: [
        Polymer.IronButtonState,
        Polymer.IronControlState,
        Polymer.IronCheckedElementBehavior
      ]
    });
  </script>
</dom-module>
