<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

    <title><%= tagName %> demo</title>

    <script src="../../../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../../../../bower_components/paper-styles/demo-pages.html">
    <link rel="import" href="../../<%= themeName %>-item/<%= themeName %>-item.html">
    <link rel="import" href="../<%= tagName %>.html">
    <link rel="import" href="../<%= themeName %>-submenu.html">

    <style is="custom-style">
      .horizontal-section {
        padding: 0 !important;
      }

      .avatar {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        background: #ccc;
      }

      <%= themeName %>-item {
        --item: {
          cursor: pointer;
        };
      }

      .sublist <%= themeName %>-item {
        padding-left: 30px;
      }

      .sublist2 <%= themeName %>-item {
        padding-left: 50px;
      }
    </style>
  </head>
  <body>
    <div class="horizontal-section-container">
      <div>
        <h4>Standard</h4>
        <div class="horizontal-section">
          <<%= tagName %>>
            <<%= themeName %>-item>Inbox</<%= themeName %>-item>
            <<%= themeName %>-item>Starred</<%= themeName %>-item>
            <<%= themeName %>-item>Sent mail</<%= themeName %>-item>
            <<%= themeName %>-item>Drafts</<%= themeName %>-item>
          </<%= tagName %>>
        </div>
      </div>

      <div>
        <h4>Pre-selected</h4>
        <div class="horizontal-section">
          <<%= tagName %> selected="0">
            <<%= themeName %>-item>Inbox</<%= themeName %>-item>
            <<%= themeName %>-item disabled>Starred</<%= themeName %>-item>
            <<%= themeName %>-item>Sent mail</<%= themeName %>-item>
            <<%= themeName %>-item>Drafts</<%= themeName %>-item>
          </<%= tagName %>>
        </div>
      </div>

      <div>
        <h4>Multi-select</h4>
        <div class="horizontal-section">
          <<%= tagName %> multi>
            <<%= themeName %>-item>Bold</<%= themeName %>-item>
            <<%= themeName %>-item>Italic</<%= themeName %>-item>
            <<%= themeName %>-item>Underline</<%= themeName %>-item>
            <<%= themeName %>-item>Strikethrough</<%= themeName %>-item>
          </<%= tagName %>>
        </div>
      </div>

      <div>
        <h4>Sub-menu</h4>
        <div class="horizontal-section">
          <<%= tagName %> attr-for-item-title="label" multi>
            <<%= themeName %>-submenu label="<%= tagName %>">
              <<%= themeName %>-item class="menu-trigger"><%= tagName %></<%= themeName %>-item>
              <<%= tagName %> class="menu-content sublist" multi>
                <<%= themeName %>-submenu label="Properties">
                  <<%= themeName %>-item class="menu-trigger">Properties</<%= themeName %>-item>
                  <<%= tagName %> class="menu-content sublist2">
                    <<%= themeName %>-item>focusedItem</<%= themeName %>-item>
                    <<%= themeName %>-item>attrForItemTitle</<%= themeName %>-item>
                  </<%= tagName %>>
                </<%= themeName %>-submenu>
                <<%= themeName %>-submenu label="Methods">
                  <<%= themeName %>-item class="menu-trigger">Methods</<%= themeName %>-item>
                  <<%= tagName %> class="menu-content sublist2">
                    <<%= themeName %>-item>select(value)</<%= themeName %>-item>
                  </<%= tagName %>>
                </<%= themeName %>-submenu>
            </<%= tagName %>>
          </<%= themeName %>-submenu>

          <<%= themeName %>-submenu label="<%= themeName %>-submenu">
            <<%= themeName %>-item class="menu-trigger"><%= themeName %>-submenu</<%= themeName %>-item>
            <<%= tagName %> class="menu-content sublist">
              <<%= themeName %>-submenu label="Properties">
                <<%= themeName %>-item class="menu-trigger">Properties</<%= themeName %>-item>
                <<%= tagName %> class="menu-content sublist2">
                  <<%= themeName %>-item>opened</<%= themeName %>-item>
                </<%= tagName %>>
                </<%= themeName %>-submenu>
                <<%= themeName %>-submenu label="Methods">
                  <<%= themeName %>-item class="menu-trigger">Methods</<%= themeName %>-item>
                  <<%= tagName %> class="menu-content sublist2">
                    <<%= themeName %>-item>open()</<%= themeName %>-item>
                    <<%= themeName %>-item>close()</<%= themeName %>-item>
                    <<%= themeName %>-item>toggle()</<%= themeName %>-item>
                  </<%= tagName %>>
              </<%= themeName %>-submenu>
            </<%= tagName %>>
          </<%= themeName %>-submenu>

            <<%= themeName %>-submenu label="Unavailable" disabled>
              <<%= themeName %>-item class="menu-trigger">Unavailable</<%= themeName %>-item>
              <<%= tagName %> class="menu-content sublist">
                <<%= themeName %>-item>Unavailable 1</<%= themeName %>-item>
                <<%= themeName %>-item>Unavailable 2</<%= themeName %>-item>
              </<%= tagName %>>
            </<%= themeName %>-submenu>
          </<%= tagName %>>
        </div>
      </div>
    </div>
  </body>
</html>
